{#{% extends 'base.html.twig' %}#}

{% block stylesheets %}
    <link href="{{ asset('css/thumbnail-gallery.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery-1.10.1.min.js') }}"></script>
    <script src="{{ asset('js/modernizr.custom.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <header class="clearfix">
            <div class="header">
                <div class="wrap">
                    <div class="logo">
                        <a href="index.html"><h1>Photo Gallery</h1></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </header>
        <div class="main">
            <ul id="og-grid" class="og-grid">
                {% for article in pagination %}
                    <li {% if loop.index is odd %}class="color"{% endif %}>
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="/uploads/media/default/0001/01/thumb_{{ article.id }}_admin.jpeg" alt="Symfony!" />
                        </a>
                        {{ article.description }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="count">
        total items is {{ pagination.getTotalItemCount }}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}



